[submodule "vendor/scripts-common"]
	path = vendor/scripts-common
	url = https://gitlab.com/bertrand-benoit/scripts-common.git
	branch = stable
[submodule "submodules/ansi-sequence-parser"]
	path = submodules/ansi-sequence-parser
	url = https://github.com/blake-mealey/ansi-sequence-parser.git
[submodule "submodules/antsy"]
	path = submodules/antsy
	url = https://code.lag.net/robey/antsy.git
[submodule "submodules/positional-tokenizer"]
	path = submodules/positional-tokenizer
	url = https://github.com/cmajsmith/positional-tokenizer.git
[submodule "submodules/terminal-canvas"]
	path = submodules/terminal-canvas
	url = https://github.com/mmis1000/terminal-canvas.git
[submodule "submodules/kkirbatski-rectangle"]
	path = submodules/kkirbatski-rectangle
	url = https://github.com/kkirby/kkirbatski-rectangle.git
[submodule "submodules/grid-layout"]
	path = submodules/grid-layout
	url = https://github.com/welefen/grid-layout.git
[submodule "submodules/typeflex"]
	path = submodules/typeflex
	url = https://github.com/dead/typeflex.git
